# dependencies
node_modules/

# next.js
.next/
out/

# environment — hanya .env.local dan .env yang di-ignore, .env.example TETAP di-commit
.env
.env.local
.env.*.local

# vercel
.vercel

# build output
build/
dist/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# OS
.DS_Store
Thumbs.db
desktop.ini

# editor
.vscode/
.idea/
*.swp
*.swo

# TypeScript
*.tsbuildinfo
next-env.d.ts
